{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}


{% block body %}
	<h1 class="m-3 p-3">Register</h1>
	<a class="btn btn-primary m-3" href="{{ path('app_profil')}}">Back</a>
<div class="m-5 p-5">
	{{ form_start(registrationForm) }}
	{{ form_row(registrationForm.email) }}
	{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
	{{ form_row(registrationForm.nom) }}
	{{ form_row(registrationForm.prenom) }}
	{{ form_row(registrationForm.city) }}
  {{ form_row(registrationForm.state) }}
  {{ form_row(registrationForm.zipCode) }}

	{# {{ form_row(registrationForm.roles) }} #}
	{{ form_row(registrationForm.agreeTerms) }}
  </div>

	<button type="submit" class="btn btn-primary m-3 p-2">Register</button>
	{{ form_end(registrationForm) }}
{% endblock %}
