{% extends 'base.html.twig' %}

{% block title %}Talent{% endblock %}

{% block body %}
<div class="m-5">
    <h1>Talent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ talent.id }}</td>
            </tr>

             <tr>
                <th>Title</th>
                <td>{{ talent.title }}</td>
            </tr>

            <tr>
                <th>Metier</th>
                <td>{{ talent.metier }}</td>
            </tr>

             <tr>
                <th>ImageName</th>
                <td>{{ talent.imageName }}</td>
            </tr>

             <tr>
                <th>imageFile</th>
                <td>{{ talent.imageFile }}</td>
            </tr>

        </tbody>
    </table>
      {% if is_granted('ROLE_USER')%}

      {% include "/talent/new.html.twig" %}
      {% endif %}
    <a class="btn btn-secondary mt-2" href="{{ path('app_talent_index') }}">Back</a>
   {% if is_granted('ROLE_ADMIN')%}
    <a class="btn btn-info mt-2" href="{{ path('app_talent_edit', {'id': talent.id}) }}">Edit</a>

    {{ include('talent/_delete_form.html.twig') }}
    {% endif %}
    </div>
{% endblock %}
