<nav class="navbar navbar-expand-lg bg-light">
	<div class="container-fluid">

		<img src="{{ asset('imagess/logo-digital-portage.png') }}" style="width:150px">
		<a class="nav-link p-1 m-1" href="{{ path('home') }}">DigitalPortage</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">

				<div class="dropdown d-flex">
					<a class="nav-link" href="{{ path('portage') }}">Portage Salariale</a>
					<a class="nav-link dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></a>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<li>
							<a class="dropdown-item" href="{{ path('avantages') }}">Avantages</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('fonctionne')}}">Comment ça fonctionne</a>
						</li>
					</ul>
				</div>

				<div class="dropdown d-flex">
					<a class="nav-link" href="{{ path('resources') }}">Resources</a>
					<a class="nav-link dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></a>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<li>
							<a class="dropdown-item" href="{{ path('blog')}}">Blog</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('communaute')}}">Communauté</a>
						</li>
					</ul>
				</div>


				<div class="dropdown d-flex">
					<a class="nav-link" href="{{ path('sommesNous') }}">Qui sommes-nous?</a>
					<a class="nav-link dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></a>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<li>
							<a class="dropdown-item" href="{{ path('valeurs')}}">Nos valeurs</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('equipe')}}">Notre equipe</a>
						</li>
					</ul>
				</div>

				<li class="nav-item">
					<a class="nav-link text-dark" href="{{ path('app_secteurs') }}">Nos secteurs</a>
				</li>

				<li class="nav-item">
					<a class="nav-link text-dark" href="{{ path('contact') }}">Contact</a>
				</li>


				{% if app.user %}

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							{{ app.user.prenom }}
						</a>

						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{{ path('app_profil') }}">Mon profil</a>
							</li>

							{% if is_granted('ROLE_ADMIN')%}
								<li>
									<a class="dropdown-item" href="{{ path('app_admin') }}">Back Office</a>
								</li>
							{% endif %}
							<li>
								<a class="dropdown-divider"></li>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
							</li>
						</ul>
					</li>

				{% else %}
					<div class="dropdown d-flex">
						<a class="nav-link dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Compte</a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<li>
								<a class="dropdown-item" href="{{ path('app_register') }}">Registration</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_login') }}">Login</a>
							</li>
						</ul>
					</div>
				{% endif %}

			</ul>
		</div>
	</div>
</nav>
