{# {% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %} #}

{% for user in users %}

<div class="card m-5 p-5">
	<div class="card-body">
	  <h5 class="text-purple m-2">{{ user.email }}</h5>
    <tr>
		  <td>{{ user.id }}</td>
		    <td class="card-text m-2">{{ user.nom }}</p></td>
		    <td class="card-text m-2" >{{ user.prenom }}</td><br>
		    <td class="card-text m-2">{{ user.city }}</td>
        <td class="card-text m-2">{{ user.state }}</td>
        <td class="card-text m-2">{{ user.zipCode }}</td>
		    <td class="m-3">{{ user.action }}</td>
      </tr>

      <a class="mx-5 p-2" class="card-text" href="#"></a>
			<a class="btn btn-purple text-white" >Inscrivez-vous</a>
	</div>
</div>

{% if is_granted('ROLE_ADMIN')%}
		      <td>
		        <a class="btn btn-warning m-3" href="{{ path('app_offre_show', {'id': user.id}) }}">show</a>
		        <a class="btn btn-info" href="{{ path('app_offre_edit', {'id': user.id}) }}">edit</a>
		      </td>
          	{% endif %}
		    </tr>


        {% else %}
		      <tr>
		        <td colspan="8">no records found</td>
		      </tr>
		    {% endfor %}

 {% if is_granted('ROLE_ADMIN')%}
		    <a class="btn btn-primary m-3" href="{{ path('app_offre_new') }}">Create new</a>
 {% endif %}

</div>














{#

    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Address</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.address }}</td>
                <td>
                    <a class="btn btn-warning mt-3" href="{{ path('app_user_show', {'id': user.id}) }}">Show</a>
                    <a class="btn btn-info mt-3" href="{{ path('app_user_edit', {'id': user.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info mt-3" href="{{ path('app_user_new') }}">Create New</a>
{% endblock %} #}
